name = "Arianna"
uuid = "17c2f236-ed37-45c0-bff7-21ff0c2ec05e"
authors = ["Matt Graham", "Ross Ah-Weng", "Callum Lau", "Anees Hussain", "Jordan Simbananiye and contributors"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
